body {
    background-color: #131411;
    color: #F3F4F1;
    font-family: Cabin, sans-serif;
}

.text {
    font-size: small;
    font-weight: normal;
}

.title {
    margin-bottom: 2px;
}

.desc {
    margin: 0 0 24px 0;
}

.desc a {
    color: white;
}

.app-container {
    width: 1258px;
    margin: 8px auto;
}

.group {
    float: left;
    margin-right: 40px;
}

.group:last-child {
    margin-right: 0;
}

div .editor {
    width: 300px;
    height: 70px;
}

#source-editor {
    height: 300px;
}

#can {
    border: 1px solid black;
    position: relative;
    float: left;
    top: 20px;
    background-color: white;
}

#js-editor {
    width: 300px;
    height: 500px;
    float: left;
}

.group .spaced {
    margin-top: 10px;
}

.blue {
    width: 144px;
    color: #F3F4F1;
    font-weight: bold;
    font-size: 16px;
    border-style: solid;
    border-width: 0 0 4px 0;
    background-color: hsl(220, 100%, 50%);
    border-bottom-color: hsl(220, 100%, 30%);
    height: 35px;
    margin: 20px 4px 0 0;
    padding: 3px 8px 0 8px;
    outline: none;
}

.blue:last-child {
    margin-right: 0;
}

.blue:hover {
    background-color: hsl(220, 100%, 60%);
    border-bottom-color: hsl(220, 100%, 35%);
}

option {
    border-width: 0;
}

option:hover {
    background-color: hsl(220, 100%, 60%);
}