.idea
node_modules

src/**/*.js
demos/common/**/*.js
demos/visualizer-eager/**/*.js
demos/visualizer-lazy/**/*.js
demos/samples/**/*.js

build

test/unit/*.js
test/unit/specs/**/*.js
test/fuzz/**/*.js